{% extends "layout/admin.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<div class="row">
	<div class="span12">
		<h1>Hello Katia !</h1>
		<h2>Bienvenue sur ton backoffice !</h2>
	</div>
</div>
{% endblock %}