{% extends "layout/admin.html.twig" %}
{% block title %}Ajouter - Artistes{% endblock %}
{% block content %}
<div class="row">
	<div class="span12">
		<h3>Artistes <small>AJOUTER UN ARTISTE</small></h3>
		<a class="btn btn-success" href="index.php"><i class="icon-circle-arrow-left icon-white"></i> Retour aux artistes</a>
		<hr />
		{% if errors %}
		<div class="alert alert-error">
			{% for error in errors %}
				{{ error }}
				{% if loop.last == false %}
				<br />
				{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<form action="add.php" method="post">
			<label for="lastname">Nom *</label>
			<input type="text" name="lastname" id="lastname" value="{{ lastname_post }}" />
			<span class="help-block">Ne remplir que ce champ pour un artiste ayant un nom seul comme <em>Coldplay</em> ou <em>Alizée</em>.</span>

			<label for="firstname">Prénom</label>
			<input type="text" name="firstname" id="firstname" value="{{ firstname_post }}">

			<label for="biography">Biographie</label>
			<textarea id="biography" name="biography"></textarea>
			<br />

			<input type="submit" class="btn btn-primary" value="Valider" />
			<br />
			<small>Les champs suivis d'un astérisque sont obligatoires.</small>
		</form>
	</div>
</div>
{% endblock %}