{% if hasProducts == true %}
	<div class="span6 remove-container">
		<h5>Attention la catégorie <em>{{ category.title }}</em> contient des produits, le supprimer supprimera tous les produits qu'elle contient.</h5>
		<h4>Êtes-vous sûr de vouloir continuer ?</h4>
		<a class="btn btn-info" href="remove.php?category={{ category.id }}"><i class="icon-ok icon-white"></i> Valider</a>
		<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i> Annuler</a>
	</div>
{% else %}
	<div class="span6 remove-container">
		<h3 class="remove-confirm-title">Êtes-vous sûr de vouloir supprimer la catégorie suivante ?</h3>
		<p class="text-warning lead remove-category-title">
			{{ category.title }}
		</p>
		<a class="btn btn-info" href="remove.php?category={{ category.id }}"><i class="icon-ok icon-white"></i> Valider</a>
		<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i> Annuler</a>
	</div>
{% endif %}

