{% extends 'layout/base.html.twig' %}
{% block title %}Mon panier{% endblock %}
{% block content %}
<div class="container-fluid cart">
	<h3>Mon panier</h3>
	{% if cart is not empty %}
	{% include 'content/order-steps.html.twig' with {'active' : 'cart'} %}
	{% include 'content/cart.html.twig' with {'cart' : cart} %}
	{% else %}
	<p>Votre panier est vide.</p>
	{% endif %}
</div>
{% endblock %}