{% extends 'layout/base.html.twig' %}
{% block title %}{{ category.title }}{% endblock %}
{% block content %}
<div class="container-fluid">
	<ul class="breadcrumb">
		<li><a href="index.php">Home</a> <span class="divider">/</span></li>
		<li class="active">{{ category.title }}</li>
	</ul>
	<div class="row-fluid">
		<div class="span3">
			{% include 'content/search.html.twig' with {'mainArtists' : mainArtists} %}
		</div>
		<div class="span9">
			<div class="row-fluid">
			{% if products is empty %}
				<p>Aucun résultat.</p>
			{% else %}
			{% for product in products %}
			{% include 'list/products.html.twig' with {'nbProductsRow' : 4} %}
			{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}