<div id="footer">
	<div class="container">
		<p>Le bon son, un site ecommerce réalisé par <a href="http://katia-moreira.com">Katia Moreira</a> dans le cadre de cours suivis à l'école <abbr title="Image Multimédia Audiovisuel Communication">IMAC</abbr>.</p>
	</div>
</div>